$primary: rgb(106, 200, 231);
$primary1: rgba(4, 129, 123,.3);
$primary2: rgb(19, 60, 56);
$primary6: rgb(35, 104, 97);
$primary3:rgb(3, 137, 131);
$primary4:rgba(6, 163, 155,.3);
$primary5:rgb(75, 199, 193);
$aqua :#87fffb;


$white: #ffffff;
$white-E1E: #e1e4e8;
$white-f7f: #f7f7fc;

$black: #000000;
$black-2: rgba(0, 0, 0, .2);
$black-8: rgba(10, 10, 10, .8);
$black-757: #757575;

$grey-D1D: #D1D1D4;
$grey-3: rgb(106 103 103);
$grey-ECE: #ECECEC;